/* Bordered form */
form {
    border: 3px solid #f1f1f1;

}
/* full-width inputs */
input[type=text],input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* set a styleefor all buttons */
button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/*Add a hover effect */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn{
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;

}

/* Add padding to container */
.container{
    padding: 16px;
}

/* Change style for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw{
        display: block;
        float: none;

    }
    .cancelbtn{
        width: 100%;
    }
}
